{% extends 'blog/base.html' %}
{% block content %}
    <div class="container-fluid">
    </div>
    <div class="container">
        <h1 class="article-title">{{ article.title }}</h1>
        <p class="article-pub-date"><small>{{ article.pub_date }}</small></p>
        <p class="article-pub-date">
            <a href="#" onclick="confirm_safe_delete()">·<small>删除文章</small></a>
            <a href="{% url "blog:article_update" article_id=article.id %}">·<small>编辑文章</small></a>
        </p>
        <p>{{ article.content|safe }}</p>
        <form style="display:none;"
              id="safe_delete"
              action="{% url 'blog:article_delete' article_id=article.id %}"
              method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </div>

    <script>
        // 删除文章的函数
        function confirm_safe_delete() {
            // 调用layer弹窗组件
            layer.open({
                // 弹窗标题
                title: "Confirm delete",
                // 正文
                content: "Confirm to delete this article？",
                // 点击确定按钮后调用的回调函数
                yes: function (index, layero) {
                    // 指定应当前往的 url
                    $('form#safe_delete button').click();
                    layer.close(index)
                },
            })
        }
    </script>
{% endblock %}