{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% if order == 'newest' %}
                    <li class="breadcrumb-item"><a href="{% url 'blog:articles' %}?order=total_views">Hot</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Newest</li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">Hot</li>
                    <li class="breadcrumb-item"><a href="{% url 'blog:articles' %}?order=newest">Newest</a></li>
                {% endif %}
            </ol>
        </nav>
    </div>
    <div class="container">
        {% for article in articles %}
            <article class="media content-section">
                <div class="media-body col">
                    <div class="article-metadata">
                        <h5><a class="article-title"
                               href="{% url 'blog:article_detail' article_id=article.id %}">{{ article.title }}</a></h5>
                        <p>
                            <small class="text-muted" style="color:gray;">Views:{{ article.total_views }}</small>
                            <small class="text-muted"> {{ article.pub_date }}</small>
                        </p>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if articles.has_previous %}
                <li class="page-item"><a href="?page=1" class="btn btn-info">
                    &laquo;1
                </a>
                </li>
                <span>...</span>
                <li class="page-item"><a class="page-link"
                                         href="?page={{ articles.previous_page_number }}"> {{ articles.previous_page_number }} </a>
                </li>


            {% endif %}

            <li class="page-item"><a class="page-link" href="?page{{ articles.number }}">{{ articles.number }}</a></li>
            {#            <li class="page-item"><a class="page-link" href="#">1</a></li>#}
            {#            <li class="page-item"><a class="page-link" href="#">2</a></li>#}
            {#            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
            {% if articles.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ articles.next_page_number }}"> {{ articles.next_page_number }} </a>
                </li>
                <span>...</span>

                <li class="page-item"><a class="btn btn-info" href="?page={{ articles.paginator.num_pages }}">
                    &raquo;{{ articles.paginator.num_pages }} </a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}