{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <!-- add breadcrumb navibar -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'blog:articles' %}?order=total_views&search={{ search }}">Hotest</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'blog:articles' %}?search={{ search }}">Newest</a>
                </li>
            </ol>
        </nav>
        <!-- add search bar -->
        <div class="col-auto pl-0 mr-auto">
            <form class="form-inline">
                <label class="sr-only">
                    Content:
                </label>
                <input type="text" class="form-control mb-2 mr-sm-2" name="search" placeholder="search posts..."
                       required>
            </form>
        </div>

        <!-- add pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if articles.has_previous %}
                    <li class="page-item"><a href="?page=1&order={{ order }}&search={{ search }}"
                                             class="btn btn-secondary btn-sm">
                        &laquo;
                    </a>
                    </li>
                    <span>...</span>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}"> {{ articles.previous_page_number }} </a>
                    </li>
                {% endif %}
                <li class="page-item disabled"><a class="page-link"
                                                  href="?page{{ articles.number }}&order={{ order }}&search={{ search }}">{{ articles.number }}</a>
                </li>
                {% if articles.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}"> {{ articles.next_page_number }} </a>
                    </li>
                    <span>...</span>
                    <li class="page-item"><a class="btn btn-secondary btn-sm"
                                             href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}">
                        &raquo; </a></li>
                {% endif %}
            </ul>
        </nav>

    </div>

    <!-- add hint for search results -->
    {% if search %}
        {% if articles %}
            <h4>Results about <span style="color:red">{{ search }}</span> are here:</h4>
            <hr>
        {% else %}
            <h4>No results about <span style="color:red">{{ search }}</span> now</h4>
            <hr>
        {% endif %}
    {% endif %}

    <!-- article list -->
    <div class="container">
        {% for article in articles %}
            <article class="media content-section">
                <div class="media-body col">
                    <div class="article-metadata">
                        <h5><a class="article-title"
                               href="{% url 'blog:article_detail' article_id=article.id %}">{{ article.title }}</a></h5>
                        <p>
                            <small class="text-muted" style="color:gray;">Views:{{ article.total_views }}</small>
                            <small class="text-muted"> {{ article.pub_date }}</small>
                        </p>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}