{% extends 'blog/base.html' %}

{% block content %}
  <div class="container">
    文章页面，未完待续。
    time: {{ time }}
  </div>
  <div class="container">
    {% for article in articles %}
      <article class="media content-section">
        <div class="media-body col">
          <div class="article-metadata">
            <h5><a class="article-title"
                   href="{% url 'blog:article_detail' article_id=article.id %}">{{ article.title }}</a></h5>
            <p>
              <small class="text-muted">{{ article.pub_date }}</small>
            </p>
          </div>
          <p class="article-content">{{ article.content }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
{% endblock %}