.article-avatar{
    border-radius: 20px 20px 5px 20px;
    margin-top: 2.5rem;
}

.article-section {
    border-radius: 10px 16px 2px 16px;
}

.toc {
    line-height: 2;
    margin: 5rem 0;
    margin-bottom: 30px;
}

.toc a {
    font-size: 1.2rem;
}