{% extends 'blog/base.html' %}
{% load static %}


{% block content %}

    {% block gotop %}
        <button onclick="topFunction()" id="myBtn">Top</button>
    {% endblock %}
    <!-- article start -->
    <div class="container">
        <section class="articles columns">
            <!-- set table of content -->
            <div class="column is-one-fifth is-hidden-mobile">
                <div class="box toc is-radiusless">
                    <h6 class="title has-text-centered"><strong>目录</strong></h6>
                    <hr>
                    <div>
                        {{ toc|safe }}
                    </div>
                </div>
            </div>
            <!-- end table of content -->

            <!-- set article detail -->
            <div class="column is-three-fifths-desktop is-full-touch">
                <div class="card article">
                    <div class="card-content">

                        <div class="media">
                            <div class="media-center">
                                <img src="{% static 'blog/images/test.jpg' %}"
                                     class="author-image" alt="Placeholder image">
                            </div>

                            <div class="media-content has-text-centered">
                                <p class="title article-title">{{ article.title }}</p>

                                <!-- set tags -->
                                <div class="tags level-item has-addons-centered">
                                    {% for tag in article.tags.all %}
                                        <span class="tag is-small has-text-white-bis is-link">#{{ tag }}</span>
                                    {% endfor %}
                                </div>
                                <!-- end set tags -->

                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-warning has-text-weight-bold">
                                        <i class="fa fa-eye"></i>&nbsp;
                                        {{ article.total_views }}
                                    </span>
                                    <span class="tag is-rounded">{{ article.pub_date|date:'Y-m-d' }}</span>
                                    {% if user.is_authenticated %}
                                        <a class="tag is-rounded is-small is-danger" href="#"
                                           onclick="confirm_safe_delete()">·<small>删除文章</small></a>
                                        <a class="tag is-small is-info"
                                           href="{% url "blog:article_update" article_id=article.id %}">·<small>编辑文章</small></a>
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            {{ article.content|safe }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end set article detail -->

        </section>
        <!-- article end -->
        <!-- csrf hidden form -->
        <form style="display:none;"
              id="safe_delete"
              action="{% url 'blog:article_delete' article_id=article.id %}"
              method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        <!-- csrf hidden form end -->
    </div>
{% endblock %}