{% extends 'blog/base.html' %}

{% block content %}
    <div class="columns is-centered">
        <!-- articles -->
        <div class="column is-four-fifths-desktop is-centered">
            <div class="tile is-ancestor is-6">
                <div class="tile is-vertical">
                    {% for article in articles %}
                        <div class="tile">
                            <div class="box">
                                <article class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p class="title">{{ article.title }}</p>

                                        </div>
                                    </div>
                                </article>

                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>





    <!-- js:when move over these tiles,do pulse animation -->
    <script>
        var tiles = document.getElementsByClassName("is-child");
        for (var i = 0; i < tiles.length; i++) {
            tiles[i].addEventListener('mouseover', function () {
                this.className += " animated pulse";
            });
            tiles[i].addEventListener('mouseout', function () {
                this.className = this.className.replace(" animated pulse", "");
            });
        }
    </script>


{% endblock %}