{% extends 'blog/base.html' %}

{% block table %}
    <div class="content-section">
        <h6><strong>Table of Contents</strong></h6>
        <hr>
        <div>
            {{ toc|safe }}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
    </div>
    <div class="container">
        <h1 class="article-title">{{ article.title }}</h1>
        <p class="article-pub-date">
            <small class="text-muted" style="color:gray;">Views:{{ article.total_views }}</small>
            <small>{{ article.pub_date }}</small>
        </p>
        <p class="article-pub-date">
            {% if user.is_authenticated %}
            <a href="#" onclick="confirm_safe_delete()">·<small>删除文章</small></a>
            <a href="{% url "blog:article_update" article_id=article.id %}">·<small>编辑文章</small></a>
            {% else %}

            {% endif %}
        </p>
        <p>{{ article.content|safe }}</p>
        <form style="display:none;"
              id="safe_delete"
              action="{% url 'blog:article_delete' article_id=article.id %}"
              method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </div>

    <script>
        // 删除文章的函数
        function confirm_safe_delete() {
            // 调用layer弹窗组件
            layer.open({
                // 弹窗标题
                title: "Confirm delete",
                // 正文
                content: "Confirm to delete this article？",
                // 点击确定按钮后调用的回调函数
                yes: function (index, layero) {
                    // 指定应当前往的 url
                    $('form#safe_delete button').click();
                    layer.close(index)
                },
            })
        }
    </script>
{% endblock %}