<footer class="footer is-size-5">
    <div class="container content has-text-centered is-fixed-bottom">
        <p class="has-text-black-bis">
            <strong>JovyChat</strong> Designed by <a href="{% url 'blog:about' %}">Jovy</a>
            Powered by <a href="https://www.djangoproject.com/">Django</a> & <a href="https://bulma.io/">Bulma</a>
        </p>
        <p>
            <strong>Github</strong>:
            <i class="fab fa-github"></i>

            <a href="https://github.com/PJovy">
                https://github.com/PJovy
                <i class="fa fa-star"></i>
            </a>.
        </p>
    </div>
</footer>
