<footer class="footer is-size-5">
    <div class="container content has-text-centered is-fixed-bottom">
        <p class="has-text-black-bis">
            <strong>JovyChat</strong> Designed by <a href="{% url 'blog:home' %}">Jovy</a>.
        </p>
        <p>
            <strong>Github</strong>:
            <a href="https://github.com/PJovy">
                <i class="fab fa-github"></i>
                <i class="fa fa-star"></i>
                https://github.com/PJovy
            </a>.
        </p>
    </div>
</footer>
