{% extends 'blog/base.html' %}

{% block header %}
    <section class="hero is-black is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title is-spaced is-size-1">
                    JovyChat
                </p>
                <p class="subtitle">
                    Jovy的驻留地.
                </p>
                <br>
                <p class="subtitle has-text-centered">
                    <a href="{% url 'blog:about' %}" class="button is-medium is-black is-rounded">关于我</a>
                    <a href="{% url 'blog:articles' %}" class="button is-medium is-black is-rounded">博文</a>
                    <a href="#" class="button is-medium is-black is-rounded">照片墙</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    <!-- animation test -->

    <!-- animation end -->

    <section class="section is-medium">
        <div class="container">
            <h1 class="title has-text-centered">Section1</h1>
            <h2 class="subtitle has-text-centered">
                A simple container to divide your page into <strong>sections</strong>, like the one you're currently
                reading
            </h2>
        </div>
    </section>

    <section class="section is-large">
        <div class="container">
            <h1 class="title has-text-centered">Section2</h1>
            <h2 class="subtitle has-text-centered">
                A simple container to divide your page into <strong>sections</strong>, like the one you're currently
                reading
            </h2>
        </div>
    </section>

    <section class="section is-large">
        <div class="container">
            <h1 class="title has-text-centered">Section3</h1>
            <h2 class="subtitle has-text-centered">
                A simple container to divide your page into <strong>sections</strong>, like the one you're currently
                reading
            </h2>
        </div>
    </section>
{% endblock %}