{% extends 'blog/base.html' %}


{% block content %}

    <!-- animation test -->

    <!-- animation end -->

    <section class="section is-medium">
        <div class="container">
            <h1 class="title has-text-centered">Section1</h1>
            <h2 class="subtitle has-text-centered">
                A simple container to divide your page into <strong>sections</strong>, like the one you're currently
                reading
            </h2>
        </div>
    </section>

    <section class="section is-large">
        <div class="container">
            <h1 class="title has-text-centered">Section2</h1>
            <h2 class="subtitle has-text-centered">
                A simple container to divide your page into <strong>sections</strong>, like the one you're currently
                reading
            </h2>
        </div>
    </section>

    <section class="section is-large">
        <div class="container">
            <h1 class="title has-text-centered">Section3</h1>
            <h2 class="subtitle has-text-centered">
                A simple container to divide your page into <strong>sections</strong>, like the one you're currently
                reading
            </h2>
        </div>
    </section>
{% endblock %}